.cart-widget a {
    position: relative;
    display: block;
    text-decoration: none;
    color: rgba(252, 111, 24, 0.75);
    text-align: center;
}
.cart-widget a span{
    color: #f8f9fa;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    font-size: 12px;
    font-weight: bold;
    transform: translate3d(-50%, -50%, 0);
}
.cart-widget a:hover {
    color: rgb(252, 111, 24)
}

@media screen and (max-width: 768px) {
 /* .cart-widget {
     margin-top: 0!important;
 } */
}