@import '../../styles/variables';

.nav-bar {
    background-color: $orange!important;
}
.nav-main {
    justify-content: space-around;
    flex-grow: 1;
}

.logo-nav {
    max-height: 32px;
}

.navbar-light .navbar-nav .nav-link.link {
    color: lighten($orange, 5%);
}

.navbar-light .navbar-nav .nav-link.link.active {
    color: $orange;
}

.hamburger-toggle {
    display: none;
}

/* ESTILOS LINK */
a.nav-link.link {
    position: relative;
    color:lighten($orange, 5%);
}

.nav-link.active::before {
    content: '';
    display: block;
    height: 3px;
    background-color: $orange;
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
}

.nav-link::before {
    content: '';
    display: block;
    height: 3px;
    background-color:rgba(252, 111, 24, 0.75);

    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0;
    /* Animacion */
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.nav-link:hover::before {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .navbar {
        position: relative;
    }

    .navbar-collapse {
        opacity: 0;
        position: absolute;
        top: 53px;
        left: -100%;
        width: 0;
        background-color: #f8f9fa;
        /* display: none; */
        padding: 10px;
        /* Animacion */
        -webkit-transition: all 250ms ease-in-out;
        -moz-transition: all 250ms ease-in-out;
        -ms-transition: all 250ms ease-in-out;
        -o-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out;
    }

    .navbar-collapse.active {
        position: absolute;
        display: block;
        opacity: 1;
        left: 0;
        width: 100%;
        z-index: 999;
        height: 100vh;
    }

    .hamburger-toggle {
        display: block;
        border: none;
        width: 32px;
        height: 26px;
        position: relative;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }

    .hamburger-toggle span {
        background-color: $orange;
        content: '';
        width: 100%;
        display: block;
        height: 4px;
        position: absolute;
        border-radius: 10px;
    }
    .hamburger-toggle .line-1 {
        top: 0;
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .hamburger-toggle .line-2 {
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.4s ease-in-out;
    }
    .hamburger-toggle .line-3 {
        bottom: 0;
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    .hamburger-toggle.active .line-1 {
        transform: rotate(45deg);
    }
    .hamburger-toggle.active .line-3 {
        transform: rotate(-45deg);
    }
    .hamburger-toggle.active .line-2 {
        width: 0;
    }

    /* ESTILOS LINK */
    .navbar-light .navbar-nav .nav-link.link {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .nav-link::before {
        bottom: 0;
    }
    .nav-link.active::before {
        bottom: 0;
    }
}