@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.menu-active {
  overflow: hidden;
}

.btn-general {
  background-color: #fc6f18;
  border-radius: 0%;
  border: 2px solid #ff9e62;
  color: #fff;
  font-weight: bold;
}
.btn-general:focus {
  background-color: #fc6f18;
  border-radius: 0%;
  border: 2px solid #ff9e62;
  color: #fff;
}
.btn-general:hover {
  background-color: #ffff;
  border-radius: 0%;
  border: 2px solid #ff9e62;
  color: #fc6f18;
}