.count-control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.count-control span {
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #ff9e62;
    border-bottom: 2px solid #ff9e62;
}

.add-to-cart-btn {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.alerta-error {
    display: flex;
    align-items: center;
}
.alerta-error p {
    margin-left: 10px;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .count-control {
        font-size: 2.5rem;
    }
    .btn-control {
        width: 20%;
        height: 100px;
        font-size: 2.5rem;
    }
    .add-to-cart-btn {
        padding: 20px;
        font-size: 1.5rem;
    }
    
    .alerta-error span {
        font-size: 1.3rem;
    }
}